@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #111827;
    background-image: linear-gradient(to bottom, #111827, #212937);
   scroll-behavior: smooth;
   z-index: 80;
  }


  .box {
    box-shadow: inset 0px 0px 50px #006151;
    border: 2px solid #006151;
    background: blur 10px;
  }


  .btn {
    box-shadow: inset 0px 0px 30px #4CDDFD;
  }

  .search-btn {
    box-shadow: inset 0px 0px 50px #006151;
    border: 2px solid #006151;
    border-radius: 10px;
  }